// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo {
  margin-bottom: 5px;

  button {
    margin-right: 5px;
  }

}

.todo-form {
  margin-bottom: 5px;
}

.complete {
  text-decoration: line-through;
  color: rgb(175, 170, 170);
}
